%h1 Listing seasons

%div{"ng-controller" => "SeasonsIndexController"}
  %table
    %thead
      %tr
        %th id
        %th sequence
        %th tv_show_id

    %tbody
      %tr{"ng-repeat" => "season in seasons"}
        %td {{season.id}}
        %td {{season.sequence}}
        %td {{season.tvShowId}}

%br

= link_to 'New Season', new_season_path
