%h1 Listing episodes

%div{"ng-controller" => "EpisodesIndexController"}
  %table.table.table-striped
    %thead
      %tr
        %th sXXeXX
        %th title
        %th prod_code
        %th plot

    %tbody
      %tr{"ng-repeat" => "episode in episodes", data: {epid: '{{episode.id}}'}}
        %td s{{episode.season.sequence}}e{{episode.sequence}}
        %td
          %a{href: "{{episode.id}}/beats"} {{episode.title}}
        %td {{episode.prod_code}}
        %td {{episode.plot}}
%br

= link_to 'New Episode', new_episode_path

