%h1 Listing episodes

%div{"ng-controller" => "EpisodesIndexController"}
  %table
    %thead
      %tr
        %th id
        %th sequence
        %th title
        %th prod_code
        %th plot
        %th season

    %tbody
      %tr{"ng-repeat" => "episode in episodes"}
        %td {{episode.id}}
        %td {{episode.sequence}}
        %td
          %a{href: "{{episode.id}}/beats"} {{episode.title}}
        %td {{episode.plot}}
        %td {{episode.season}}

%br

= link_to 'New Episode', new_episode_path

