%div{ng: {controller: 'CharactersIndexController', init: 'init();'}}
  %h1 Listing characters

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th

    %tbody
      %tr{ng: {repeat: 'character in characters'}}
        %td
          %input{_:'',
            ng: {_:'',
            model: 'character.name',
            "model-options" => '{ debounce: 800 }',
            change: 'character.update()'},
            style: 'width: 25em;'}
        %td
          %button{ng: {click: 'remove(character)'}}
            %i.glyphicon.glyphicon-remove
        -# %td= link_to 'Show', character
        -# %td= link_to 'Edit', edit_character_path(character)

%br

= link_to 'New Character', new_character_path
